/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eeeeee;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.sidebar button {
    margin: 5px 12px;
    padding: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

ul button {
    align-items: right;
}

.sidebar button:hover {
    background: #001d72;
}

.sidebar input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.sidebar button[type="submit"] {
    background: #28a745;
}
.sidebar button[type="submit"]:hover {
    background: #218838;
}

#close-server {
    background: #dc3545; /* Red color for close button */
}
#close-server:hover {
    background: #851822; /* Darker red on hover */
}

.main {
    flex-grow: 1;
    overflow-y: auto; /* Allows scrolling for main content */
}

#sidebar.collapsed {
    width: 60px; 
}

#sidebar.collapsed .room-title,
#sidebar.collapsed button,
#sidebar.collapsed .section,
#sidebar.collapsed .users,
#sidebar.collapsed .banned {
    display: none; /* Hide all items */
}

#sidebar.collapsed #toggle-btn {
    display: block; /* Ensure the toggle button is still visible */
}


#toggle-btn {
    cursor: pointer;
    margin-bottom: max-content;
}



.chat {
    background-color: #0e0024;
}
.chat input {
    border: 1px solid #1e005d;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.index {
    background-color: #0e0024;
    color: #ffffff;
}
.index label {
    color: #ffffff;
}

html {
    font-size: 16px;
}

input {
    font-size: 16px;
}

body {
    line-height: 1.4;
    color: #3c3c3c;
}

h1 {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

button {
    cursor: pointer;
    padding: 10px;
    background: rgb(15, 90, 171);
    color: white;
    font-size: 12px;
    border: none;
    gap: 10px;
    margin: 5px 0;
    transition: background .3s ease;
    border-radius: 10px;
}

button:hover {
    background: #30068c;
}
button:disabled {
    cursor: default;
    background: #1e005d;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


/* Join Page */
.login-form {
    background: url("/img/night_view.png"), #0e0024;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #1e005d;
}

.box {
    box-shadow: 0px 7px 17px 7px #1D1F26;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.login-form button {
    width: 100%;
    width: fit-content;
}

.login-form input {
    margin-bottom: 16px;
    width: 100%;
}

.input1, .input2, .input3 {
    border-bottom: 2px solid #ffffff;
    margin: 15px 0 15px 0;
}

.input1 input, .input2 input, .input3 input {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    padding: 0px;
    outline: none;
}



/* Chat */
.all {
    display: flex;
}

.sidebar {
    height: 100vh;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}


.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.all-messages {
    flex-grow: 1;
    padding: 24px 2px 0 24px;
    overflow-y: scroll;
    
}

.sendfile {
    display: right;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}

.sendtext {
    display: right;
    justify-content: space-between;
    width: fit-content;
}

/* Message */
.message {
    margin-bottom: 10px;  
}

.alias {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.stamp {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}


/* Message Composition */
.compose {
    display: flex;
    flex-shrink: 0;
    padding: 10px;
}

.compose form {
    display: flex;
    flex-grow: 1;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 60%;
    padding: 0px;
    margin: 10px 10px 0px 10px;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

.sendButton {
    margin-top: auto;
}


/* Chat Sidebar */
li {
    font-size: 12px;
}

.room-title {
    font-weight: 400;
    font-size: 16px;
    background: #27154b;
    padding: 0px;
    color: aliceblue; 
    text-align: center;  
}

.list-title {
    font-size: 12px;
    margin-bottom: 4px;
    padding: 6px 0px 0 6px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 0px 0px 0 24px;
}

input[type="file"] {
    display: none;
}

#file {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.users li, .banned li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

