* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.index {
    background-color: #0e0024;
    color: #ffffff;
}
.index label {
    color: #ffffff;
}

body {
    line-height: 1.4;
    color: #3c3c3c;
}

button {
    cursor: pointer;
    padding: 10px;
    background: rgb(15, 90, 171);
    border: none;
    gap: 10px;
    margin: 5px 0;
    transition: background .3s ease;
    border-radius: 10px;
}

button:hover {
    background: #30068c;
}
button:disabled {
    cursor: default;
    background: #1e005d;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.login-form {
    background: url("/img/night_view.png"), #0e0024;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #1e005d;
}

.box {
    box-shadow: 0px 7px 17px 7px #1D1F26;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.login-form button {
    width: 100%;
    width: fit-content;
}

.login-form input {
    margin-bottom: 16px;
    width: 100%;
}

.input1, .input2, .input3 {
    border-bottom: 2px solid #ffffff;
    margin: 15px 0 15px 0;
}

.input1 input, .input2 input, .input3 input {
    background: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 0px;
    outline: none;
}




